h1 {
  text-align: center;
}

h3 {
  text-align: center;
}
.logo {
  float: left;
  margin-left: 100px;
}
.sidebar {
  float: right;
  border: solid #ca3728;
  padding: 4px;
  background-color: #67c4aa;
}

.column{
  width: 350px;
  float: right;
  margin: 5px;
}
