h1 {
  text-align: center;
}

h3 {
  text-align: center;
}
.sidebar {
  float: right;
  background-color: #b8b264;
}

.column{
  width: 400px;
  float: left;
  margin: 5px;
}
.logo {
  float: left;
}
.right column {
  float: right;
  width: 500px;
}
